<!-- src/templates/product/view_products.html -->
{%extends 'main/base.html'%}

{%block main%}
{%include 'main/flash_message.html'%}
<section class="container">
    <div class="row">
        <div class="col-md text-center">
            <h2 class="text-center text-info">list of products</h2>
            <hr>
            {%if current_user.products%}
                <ul class="list-group text-left">
                    {%for product in current_user.products%}
                        <li class="list-group-item"><a href="{{url_for('product.view_product',id=product.id)}}">{{product.name}}</a></li>
                    {%endfor%}
                </ul>
            {%else%}
                <div class="alert alert-info">
                    <p>no products added yet</p>
                </div>
            {%endif%}
            <a class="btn btn-success mt-5" href="{{url_for('product.add_product')}}">add product</a>
        </div>
    </div>
</section>
{%endblock%}    

